/* Standard gutter = 32px;*/

/* Reset bits */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}

/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

.accessibility-hidden {
  position: absolute;
  left: -99999px;
}

/* Base type */
body {
  font-family: Arial,Helvetica,sans-serif;
  color: #262626;
}

h1 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 32px;
}

p {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
}

/* Page layout */
.page-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
}

/*
  Widget CSS

  All widget elements are scoped to the `crowd-funding-widget` class.
 */
.crowd-funding-widget {
  margin: 0 auto;
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 2px;
  overflow: hidden;
  display: block;
}

/* Hide until initial JS loaded */
.crowd-funding-widget {
  display: none;
}

/* Show when widget ready */
.crowd-funding-widget.ready {
  display: block;
}

/* Generic classes for widget */
.crowd-funding-widget .label {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 4px;
  color: #9f9f9f;
}

/* Widget header bits */

/* Intrinsic ratio trick for responsive header img */
.crowd-funding-widget .header-img-wrapper {
  display: block;
  position: relative;
  padding-bottom: 56%;
  margin-bottom: 0;
}
.crowd-funding-widget .header-img-wrapper img {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
}

/* Base widget type */
.crowd-funding-widget p {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 200;
}

/* Widget body */
.crowd-funding-widget .widget-body {
  padding: 32px 24px 32px 24px;
}

.crowd-funding-widget .story-wrapper {
  padding-left: 12px;
  padding-right: 12px;
}

/* Progress wrapper, contains progress bar and stats */
.crowd-funding-widget .progress-wrapper {
  position: relative;
}

/* Progress bar outer element */
.crowd-funding-widget .progress-bar {
  position: relative;
  width: 100%;
  height: 10px;
  margin-bottom: 12px;
  overflow: hidden;

  background-color: #eaeaea;
  border-radius: 5px;
}
/* Progress bar inner element. Width is updated by JS */
.crowd-funding-widget .progress-bar-inner {
  position: absolute;
  width: 0%;
  height: 100%;

  background-color: #ad2ab6;
  border-radius: 5px;

  -webkit-transition: width cubic-bezier(0.770, 0.000, 0.175, 1.000) 1000ms;
          transition: width cubic-bezier(0.770, 0.000, 0.175, 1.000) 1000ms;
}

.crowd-funding-widget .progress-wrapper p {
  color: #ad2ab6;
}

.crowd-funding-widget .stats-wrapper {
  position: relative;
}
.crowd-funding-widget .stats-wrapper .pledged,
.crowd-funding-widget .stats-wrapper .pledged-of {
  display: block;
  max-width: 60%;
  max-width: calc(100% - 56px);
}
.crowd-funding-widget .stats-wrapper .pledged-of {
  font-size: 12px;
  line-height: 12px;
}
.crowd-funding-widget .stats-wrapper .percentage {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}
.crowd-funding-widget .stats-wrapper .percentage .pledged {
  font-weight: 400;
}

.crowd-funding-widget .form-wrapper {
  text-align: center;
}
@media (min-width: 500px) {
  .crowd-funding-widget .form-wrapper {
    max-width: 80%;
    margin: 0 auto;
  }
}

/* Grey out input on form sending */
.crowd-funding-widget .form-wrapper.sending {
  opacity: 0.4;
  pointer-events: none;
}
.crowd-funding-widget .form-wrapper.submitted .form-input {
  display: none;
}

/* Only show thank you message if form state is `submitted` */
.crowd-funding-widget .form-wrapper .thank-you-message {
  display: none;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 32px;
  min-height: 60px;
}

.crowd-funding-widget .form-wrapper.submitted .thank-you-message {
  display: block;
}

.crowd-funding-widget .form-wrapper .thank-you-message p {
  line-height: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  border: 1px solid #dca2dd;
  border-radius: 2px;
  background-color: #fbf4fb;
  color: #ad2ab6;
}

/* Form input styling */
.crowd-funding-widget .form-input {
  margin-bottom: 32px;
}
.crowd-funding-widget .form-wrapper .input,
.crowd-funding-widget .form-wrapper .button {
  display: inline-block;
  height: 48px;
  margin-left: 6px;
  margin-right: 6px;
  line-height: 48px;
  font-size: 20px;
  vertical-align: top;
}

@media (min-width: 500px) {
  .crowd-funding-widget .form-wrapper .input,
  .crowd-funding-widget .form-wrapper .button {
    float: left;
    display: block;
  }
}

.crowd-funding-widget .form-wrapper .input {
  padding-left: 12px;
  padding-right: 12px;
  width: 96px;
  box-shadow: inset 0px 2px 1px 0px #ccc;
  outline: none;
  border: 1px solid #e1e1e1;
  margin-bottom: 12px;
}

/* Button fades to alt color on hover */
.crowd-funding-widget .form-wrapper .button {
  padding-left: 72px;
  padding-right: 72px;
  border-radius: 2px;
  outline: none;
  border: none;
  background-color: #ad2ab6;
  color: #fff;
  -webkit-transition: background-color ease 300ms;
          transition: background-color ease 300ms;
  cursor: pointer;
}
.crowd-funding-widget .form-wrapper .button:hover {
  background-color: #d514e2;
}
@media (min-width: 500px) {
  .crowd-funding-widget .form-wrapper .button {
    width: 80%;
    width: calc(100% - 120px);
  }
}

.crowd-funding-widget .form-wrapper .error-container {
  clear: both;
  font-size: 16px;
  color: red;
  text-align: center;
}

/* Project owner wrapper - contains avatar and name */
.crowd-funding-widget .project-owner {
  position: relative;
  text-align: center;
}

.crowd-funding-widget .project-owner .avatar {
  display: inline-block;
  vertical-align: middle;
  max-width: 48px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}
.crowd-funding-widget .project-owner p {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 0;
}
.crowd-funding-widget .project-owner .label,
.crowd-funding-widget .project-owner .owner-name {
  display: block;
}

.crowd-funding-widget .project-owner .owner-name {
  font-size: 20px;
  line-height: 20px;
}

/* Widget footer bits */
.crowd-funding-widget .widget-footer {
  padding: 32px 60px 32px 60px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.crowd-funding-widget .widget-footer p {
  font-size: 18px;
  line-height: 24px;
}

/* Button has hover state */
.crowd-funding-widget .widget-footer .button {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 32px;

  padding-left: 48px;
  padding-right: 48px;
  border-radius: 2px;
  outline: none;
  border: none;
  background-color: #f6821f;
  color: #ffffff;
  -webkit-transition: background-color ease 300ms;
          transition: background-color ease 300ms;
  cursor: pointer;
}
.crowd-funding-widget .widget-footer .button:hover {
  background-color: #e16a05;
}

.crowd-funding-widget .widget-footer .label {
  display: block;
  margin-bottom: 8px;
}

/* Max width on logo */
.crowd-funding-widget .widget-footer .logo {
  display: inline-block;
  max-width: 215px;
}







